<mat-toolbar color="primary">
  <span>Notes</span>
</mat-toolbar>
<div id="main">
<div id="container">
  <h3>Take your notes here</h3>
  <mat-card>
        <textarea placeholder="Add a note..." rows="2" id="notes"></textarea>
    <button (click)="add()" id="add">+</button>
  </mat-card>
</div>
<br>
<h3>Your Notes</h3>
<mat-divider></mat-divider>
<mat-nav-list  >
  <mat-list-item *ngFor="let options of notes;index as i;">
  {{notes[i]}}
   <!-- <button (click)="delete()" id="delete"><mat-icon>delete</mat-icon></button> -->
   <mat-divider></mat-divider>
</mat-list-item>
</mat-nav-list>
</div>
