.form-container{
    margin-left: 30%;
    
    
}
.Title{
   width: 400px;
   background-color: rgba(128, 128, 128,  0.048);
}
.Body{
    height: 300px;
    min-width: 700px;
    background-color: rgba(128, 128, 128, 0.048);
    box-shadow: 1px 1px 2px 2px grey;
    border-bottom: white;
}
